services:
  htb:
    image: ${CONTAINER_NAME}:latest
    container_name: ${CONTAINER_NAME}
    hostname: ada-lab
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        NEWUSER: ${NEWUSER}
        NEWPASS: ${NEWPASS}

    stdin_open: true
    tty: true
    extra_hosts:
      - "ada-lab:127.0.1.1"

    cap_add:
      - NET_ADMIN
      - NET_RAW
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "5901:5901"

    volumes:
      - ../workspace:/home/${NEWUSER}/workspace
      - ../vpn:/home/${NEWUSER}/vpn

    working_dir: /home/${NEWUSER}/workspace
    user: ${NEWUSER}